@import url("https://fonts.googleapis.com/css2?family=League+Script&family=Montserrat:ital@1&family=Open+Sans&family=Petit+Formal+Script&family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=League+Script&family=Montserrat:ital@1&family=Open+Sans&family=Petit+Formal+Script&family=Poppins:ital,wght@1,600&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Script&family=Noto+Serif:ital@1&family=Poppins:ital,wght@1,600&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:wght@500&family=Dancing+Script:wght@700&family=Inter&family=League+Script&family=Noto+Sans&family=Noto+Serif:ital@1&family=Poppins:ital,wght@1,600&display=swap'); 
.title{
  font-size: 30px;
  text-align:center;
}

.feature-title{
  font-size: 48px !important;
  /* font-family: none; */
  color:white;
  font-family: 'Petit Formal Script'!important;
}
body{
  /* background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242)); */
  /* height: 6000px; */
  /* background-; */
  font-family: 'League Script', cursive !important;
  font-weight: bolder !important;
  color: black !important;
  font-size: x-large !important;
  font-style:bold;
  /* font-family: 'Petit Formal Script' !important; */
  /* background: -webkit-linear-gradient(rgb(32, 24, 16), rgb(42, 103, 216),rgb(230, 73, 73)) !important; */
  /* -webkit-background-clip: text !important; */
  /* -webkit-text-fill-color: transparent !important; */
  /* font-style: bolder; */
  
}

.welcome-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Photoes/Support-Worker-1.png");
  background-color:lightskyblue;
  min-height: 670px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  /* background: */
}

.parallax {
  /* The image used */
  background: white;
  background-image: url("Photoes/pic3.png");

  /* Set a specific height */
  min-height: 500px; 


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.parallax-2{
  background-image: url("Photoes/pic2.png");
  /* background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242)); */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.parallax-3{
  background-image: url("Photoes/city2.png");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.welcome-text{
  /* background:white; 
  color: black; */
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-style: italic;
  /* font-family: 'Lobster', cursive; */
  font-weight: bolder;
  font-size: 70px;
  /* background: rgba(255, 255, 255, 0.9); */
  padding: 50px 50px;
   /* background: -webkit-linear-gradient(rgb(255, 213, 0), rgb(215, 204, 204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
  color:white;
} 

.nav-link{
  /* color: black !important;
  font-weight: bold; */

}

.nav-link:hover{
  text-decoration: underline !important;
}
.images{
  display: flex;
  justify-content: space-between;
}

.profiles img{
  /* border-radius: 0%; */
  /* background-color: blue !important; */
}

/* h{
  font-size:40px;
  font-style: bolder;
  font-family: 'League Script', cursive;
  
  font-family: 'Montserrat', sans-serif;
  
  font-family: 'Petit Formal Script', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: lightblue;
  font-size: 3em;
  background: -webkit-linear-gradient(rgb(207, 195, 21), rgb(170, 103, 103));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* h1, p{
  font-family: 'Petit Formal Script', cursive;
  color: lightpink;
  font-size: 1.5em;
  background: -webkit-linear-gradient(rgb(212, 28, 56), rgb(194, 109, 109));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */

.vision, .who-we-are{  
  font-size: 60px;
  /* background: -webkit-linear-gradient(rgb(196, 196, 184), rgb(0, 221, 255),rgb(212, 52, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Petit Formal Script', cursive;
    /* color: rgb(41,43,112); */
    color: brown;
  
}
p{
  /* font-family: 'Petit Formal Script' !important; */
  /* font-family: 'Poppins', sans-serif  */
  /* font-family: 'Noto Serif', serif !important; */
 font-family: 'Inter', sans-serif;
  font-style: italic;
  /* font-family: cursive !important;  */
  color:rgb(56,56,59);
}

.container{
  text-align:center;
  background: none !important;
}
.rect{
  text-align:center;
}

.values-box p{
  font-size: 30px;
  /* height: 100px; */
}


.values-box{
  padding: 1% 2%;
  /* background-color: rgb(21, 157, 241); */
}

.navbar{
  /* background-color: black; */
  /* background:linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242)); */
  background-color: white;

}

.heading-60{
  font-size: 60px !important;
  /* background: -webkit-linear-gradient(rgb(120, 120, 114), rgb(0, 140, 255),rgb(227, 206, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  color: black;
}

.heading-personal{
  color: black;
}
.resources{
  /* background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242)); */
  margin-top: 40px;
  font-size: 60px;
}

.gradient-blue{
  background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242));
}

.gradient-red{
  background: -webkit-linear-gradient(rgb(212, 28, 56), rgb(194, 109, 109));
}

/* 
.img-special{
  width: 10% !important;
} */



.feature-desc{
  font-size: 20px !important;
  /* font-family: 'Noto Sans', sans-serif!important; */
  font-family: 'Inter', sans-serif;

}



.heading-name{
  font-size: 40px !important;
  /* background: -webkit-linear-gradient(rgb(196, 169, 17),rgb(190, 200, 210),rgb(7, 24, 33))!important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important; */
    color: black;
    font-family: "Petit Formal Script" !important; 
  
}



.color-white{
  color: white;
}

/* button{
  background: -webkit-linear-gradient(rgb(18, 20, 23),rgb(12, 147, 243),rgb(192,219,242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar-brand{
  background: -webkit-linear-gradient(rgb(116, 138, 190), rgb(76, 104, 152), rgb(228, 61, 61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.nav-item .nav-link{ 
  background: -webkit-linear-gradient(black, black,black ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: black;
  /* font-family:'Inter', sans-serif!important;  */
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Rubik Mono One', sans-serif; */
  font-family: 'Chakra Petch', sans-serif; 
  font-size: 27px;
  
}

.dropdown-item{
  background: none !important;
}
.logo{
  width: 78px;
}

.navbar{
  padding: 8px 16px !important;
}
/* .fontchange{
  
} */
.ending, .aboutheading{
/* font-family: "Petit Formal Script" !important;  */
font-family: 'Chakra Petch', sans-serif;
/* color: rgb(37, 150, 190); */
/* color: rgb(4,116,244); */
color: rgb(136,204,252);


}
.buttonend{
font-family: 'Noto Sans', sans-serif;
 border-radius: 10px;
 padding: 10px 70px;
 color: white;
  /* background: blue !important; */
 background-color: rgb(4,116,244);
 border: thick;
}


.company-container{
  background-color:navajowhite;
}


.about-container{
  background-color:lightskyblue;
  }

.feature-container{
  padding: 5% 10% !important;
  /* background-color: rgb(223, 3, 3) !important; */
}

.features{
  /* background:rgb(4,108,244) !important; */
  /* background-color: rgb(4, 140, 244); */
  background-color: lightskyblue;
}

.community-box{
  padding: 5% 10%;
}

header{
/* background-color: rgb(0, 162, 255); */
background: -webkit-linear-gradient(rgba(67,211,255),rgba(255,221,76),rgba(254,161,181));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 

}
.logotext{
  /* font-family: 'Petit Formal Script'; */
  /* font-family: 'Lily Script One', cursive; */
  /* font-family: 'Rouge Script', cursive; */
  margin-top: -9px;
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(rgba(67,211,255),rgb(43,199,240) ,rgba(254,161,181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-weight: bolder;
}





