.register-h3{
    font-family: Roboto;
    font-size: 40px;
  }
  
  .register-container{
    width: fit-content;
    height: 100%;
    /* background-color: rgba(52, 134, 201,0.5); */
    background: linear-gradient(rgb(234,238,249),rgb(192,219,242),rgb(148,194,227));
    /* height: 700px; */
  
    /* margin: auto auto; */
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
  
    padding: 30px 30px !important;
    padding-bottom: 40px !important;
  
  }
  
  .register-title{
    color: black;
    font-size: xx-large;
    font-family: 'Petit Formal Script', cursive;
     /* font-weight: bold; */
    background: -webkit-linear-gradient(rgb(32, 24, 16), rgb(42, 103, 216),rgb(108, 101, 101));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: bolder;
  }
  
  .register-btnclass{
    background-color: rgb(89,142,197);
    font-family: Roboto;
    height: 35px;
    width: 50%;
    border-radius: 20px;
    border: solid 1px;
    opacity: 0.8;
    font-weight: bold;  
    font-size: large;
  }
  
  .register-body{
    /* background: linear-gradient(rgb(21, 27, 33),rgb(27, 87, 206)); */
    font-family: Roboto;
    /* height: 100%; */
    background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .register-input{
     font-family: Roboto Arial, Helvetica, sans-serif;
  }
  
  .register-labels{
    font-family: cursive !important;
    font-size: large;
    text-align: left !important;
    font-weight: lighter;
  }
  
  .register-label{
    font-size: 20px;
  } 
  
  .h-register{
    font-family: 'Petit Formal Script';
    /* font-weight: bold; */
  }
  
  .register-title1{
    font-family: 'League Script';
    background: -webkit-linear-gradient(rgb(13, 41, 70),rgb(31, 50, 63),rgb(44, 90, 130));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: bolder;
  }
  
  .hr-register{
    /* margin: 30px 0 !important;  */
    /* margin-top: 50px !important;
    margin-bottom: 30px; */
    height: 3px !important;
    background-color: lightyellow !important;
    opacity: 1 !important;
    border: none !important;
  }

  .a-register{
    font-family: Roboto !important;
    color: black !important;
    font-size: medium;
  }

  .a-register:hover{
    opacity: 0.5 !important;
    
  }

  .signupBtn:hover{
    opacity: 0.5 !important;
  }