/* Add custom CSS here */

.feedTitle{
  font-family:'League Script';
  font-size:xx-large;
  text-align: center;
  color: azure;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.input-group{
  padding-top: 35px;
}

