/* Add custom CSS here */
.PostsListPage{
  background: linear-gradient(rgb(89,142,197),rgb(148,194,227),rgb(192,219,242));
  padding: 0px;
  height: 1000px;
}

.feedTitle{
  font-family:'League Script';
  font-size:xx-large;
  text-align: center;
  color: azure;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.input-group{
  padding-top: 35px;
}

