/* Add custom CSS here */
.PostsListPage{
  background-color:lightblue;
  padding: 0px;
  height: 1000px;
}

.feedTitle{
  background-color:steelblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:xx-large;
  text-decoration:underline;
  text-align: center;
  color: azure;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}


